.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
}

.language {
  background: center url('images/flag.png') no-repeat;
  background-size: cover;
  background-position: -10px;
}

.language,
.languagePL {
  position: absolute;
  right: 0;
  width: 45px;
  height: 45px;
  font-size: 23px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  box-shadow: inset -3px -2px 15px black;
}

.languagePL {
  background: linear-gradient(white 50%, rgb(212, 0, 0) 50%);
}

.background {
  background: center url('images/1.jpg') no-repeat;
  background-size: cover;
  min-height: 60vh;
}

.vertical-minus1 {
  vertical-align: -0.05em;
}



/* Colors */
.theme-text-light {
  color: #FAFAF8;
}

.theme-text-primary {
  color: #C43534;
}

.theme-text-secondary {
  color: #A4AAA1;
}

.theme-text-lightgreen {
  color: #b6be69;
}

.theme-text-brown {
  color: #484f31;
}

.theme-bg-light {
  background-color: #FAFAF8;
}

.theme-bg-primary {
  background-color: #C43534;
}

.theme-bg-secondary {
  background-color: #A4AAA1;
}

.theme-bg-lightgreen {
  background-color: #b6be69;
}

.theme-bg-brown {
  background-color: #484f31;
}

.theme-border-light {
  border-color: #FAFAF8 !important;
}

.theme-border-primary {
  background-color: #C43534;
}

.theme-border-secondary {
  background-color: #A4AAA1;
}

.theme-border-lightgreen {
  background-color: #b6be69;
}

.theme-border-brown {
  background-color: #484f31;
}


/* --- */


.progress-label {
  font-size: 0.9em;
 font-weight: 600;
}

.team-card {
  font-size: 0.9em;
}

.accordion-button:not(.collapsed) {
  background-color: #FAFAF8;
  color: #C43534;
} 
/* Selektor :not wybiera wszystkie elementy, które spełniają warunek bycia .accordion-button ale nie posiadają klasy .collapsed – czyli wszystkie rozwinięte elementy akordeonu. */

.accordion-button {
font-weight: 600;
}

.image-background-qa {
background: center url('images/qa.jpg') no-repeat;
background-size: cover;

height: 100%;
min-height: 30vh;
}

@media screen and (min-width: 768px) {
  .featured-card {
    margin-left: -1px;
    margin-right: -1px;
  }

  .pricing-card .card-header {
    padding-top: 20px;
  }

  .featured-card .card-header {
    padding-top: 40px;
  }

  .pricing-card.order-md-1 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    margin-top: 20px;
  }

  .pricing-card.order-md-3 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    margin-top: 20px;
  }
}